.headline.container
	.row
		.col-md-8.col-sm-12
			h1 Are you hungry?

			p What are fruits? Fruits are food. And when do we need food? When we're hungry.

			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas arcu ipsum, convallis a augue quis, congue sollicitudin nunc. Aliquam molestie aliquet odio, nec tincidunt risus.

		.col-md-4.col-sm-12
			include searchbox.jade
