.menu.container
	h1 Why Choose Apples?
	.row
		.item.col-md-4
			h3 Delicious
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas arcu ipsum, convallis a augue quis, congue sollicitudin nunc. Aliquam molestie aliquet odio, nec tincidunt risus.
			.button
				a Learn More
				.image
		.item.col-md-4
			h3 Innovation
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas arcu ipsum, convallis a augue quis, congue sollicitudin nunc. Aliquam molestie aliquet odio, nec tincidunt risus.or their culinary skill and innovative nature.
			.button
				a Learn More
				.image
		.item.col-md-4
			h3 Integrity
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas arcu ipsum, convallis a augue quis, congue sollicitudin nunc. Aliquam molestie aliquet odio, nec tincidunt risus.
			.button
				a Learn More
				.image
	.row
		.item.col-md-4
			h3 Allure
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas arcu ipsum, convallis a augue quis, congue sollicitudin nunc. Aliquam molestie aliquet odio, nec tincidunt risus.
			.button
				a Learn More
				.image
		.item.col-md-4
			h3 Religious
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas arcu ipsum, convallis a augue quis, congue sollicitudin nunc. Aliquam molestie aliquet odio, nec tincidunt risus.
			.button
				a Learn More
				.image
		.item.col-md-4
			h3 Intelligence
			p Apart from their contributions to theoretical chronodimensional physics, many apples are renowned essayists, bringing enlightening views on moral and societal issues.
			.button
				a Learn More
				.image
